html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e7dede;
    background-color: #2d2d2c;
    background-size: cover;
    background-position: center;
} 

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

header {
    background: none;
    padding: 10px 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    max-width: 200px;
    margin-left: 0;
    margin-right: 20px;
    height: auto;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color:#e7dede;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #0b0c0c;
    transform: scale(1.1);
}

.link {
    color: #0d0d0e;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.link:hover {
    color: #0b0c0c;
    transform: scale(1.1);
}

main {
    margin-top: 20px;
}

.header-content {
    overflow: hidden;
    margin-top: 20px;
}

.header-image {
    float: left;
    width: 60%;
    margin: 0 20px 20px 0;
    border-radius: 50%;
}

.header-image img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.header-text {
    font-size: 1.25rem;
    margin-top: 90px;
    line-height: 1.5;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-text-fill-color: #e7dede;
    -webkit-text-stroke: 0.5px #000;
}

figure figcaption {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e7dede; 
}

.header-text p {
    font-size: 25px;
    margin-top: 30px;
    margin-right: 30px;
    padding: 10px;
}

.header-text p a{
    color: #e7dede;
    text-decoration: none;
}

.header-text ul {
    padding: 0;
}

.header-text ul li {
    font-size: 20px;
    margin: 10px 0;
}

.p1 {
    margin-top: 40px;
}

.p2 {
    clear: both;
    margin-top: 20px;
    padding: 15px;
    margin-bottom: 80px;
    border: 2px solid #000;
    background-color: #333333;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px 10px;
}

footer {
    width: 100%;
    background-color: #111010;
    background-image: url('images/footerbg.jpg');
    background-repeat: repeat;
    background-size: 200px 100px;
    margin-top: 200px;
    position: relative;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.footer-links ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
}

.footer-links ul li a{
    text-decoration: none;
    color:#666;
}

.footer-info {
    color: #666;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin: 0;
        max-width: 150px;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    nav ul li {
        margin: 10px 0;
    }
}
